.pic-status-name-wrapper {
    position : relative;
    padding : 13px 11px 11px 11px;
    height : 5.5rem;
    width : 19rem;
}

.user-pic {  
    height : 60px;
    width : 60px;
}

.user-status {
    position : absolute;
    height : 13px;
    width : 13px;
    left : 55px;
    top : 57px;
    border : 1px solid white;
}

.name-wrapper {
    margin-left : 10px;
    height : 75px;
    width : 195px;
    vertical-align : top;
}

.first-last-name, .user-name {
    width : 100%;
    height : 37.5px;
    padding : 5px 8px;
}

.main-wrapper, .pic-status-name-wrapper, .first-last-name {
    border : 1px solid black;
}

.user-pic, .user-status, .pic-status-name-wrapper, .name-wrapper, .first-last-name {
    display : inline-block;
}