<div class = "container">
  <div class = "row d-flex flex-row align-items-center justify-content-center">
    <div class = "col-8" id = "register-wrapper" class = "d-flex flex-column justify-content-center align-items-center">
          <div style = "margin-top : 0" *ngIf = "emptyFields || !passwordMatch || registrationErr || !validEmail || !validCode || !validUsername">
               <p [style.color] = "'red'">{{errMssg}}</p>
          </div>
          
          <ng-container [ngSwitch] = "section">
               <ng-container *ngSwitchCase = "0" >
                    <ng-container *ngTemplateOutlet = "info"></ng-container>
               </ng-container>

               <ng-container *ngSwitchCase = "1" >
                    <ng-container *ngTemplateOutlet = "credentials"></ng-container>
               </ng-container>

               <ng-container *ngSwitchCase = "2" >
                    <ng-container *ngTemplateOutlet = "confirmation"></ng-container>
               </ng-container>
          </ng-container>
          
          <div><a [routerLink] = "['/login']">Login</a></div>
    </div>
  </div>
</div>

<ng-template #userInfo>
    <p style = "margin-bottom : 0">First Name</p>
    <div style = "margin-top : 0">
         <input #i [(ngModel)] = "firstname" type = "text" (keydown.enter) = "nextForm(inputsInfo,'inputsInfo')">
    </div>

    <p style = "margin-bottom : 0">Last Name</p>
    <div style = "margin-top : 0">
         <input #i [(ngModel)] = "lastname" type = "text" (keydown.enter) = "nextForm(inputsInfo,'inputsInfo')"> 
    </div>

    <p style = "margin-bottom : 0">Email</p>
    <div style = "margin-top : 0">
         <input #i [(ngModel)] = "email" type = "email"(keydown.enter) = "nextForm(inputsInfo,'inputsInfo')">
    </div>

    <div> 
      <input type = "submit" value = "Next" (click) = "nextForm(inputsInfo,'inputsInfo')"> 
    </div>
</ng-template>

<ng-template #userCredentials>
    <p style = "margin-bottom : 0">Username</p>
    <div style = "margin-top : 0">
         <input #j [(ngModel)]  = "username" type = "text" (keydown.enter) = "nextForm(inputsCred, 'inputsCredRegister')">
    </div>

    <p style = "margin-bottom : 0"> New Password</p>
    <div style = "margin-top : 0">
         <input #j [(ngModel)]  = "password" type = "password"required (keydown.enter) = "nextForm(inputsCred, 'inputsCredRegister')">
    </div>
    
    <ng-container *ngIf = "checkPasswordField(password)">
          <p style = "margin-bottom : 0"> Re-enter Password</p>
          <div style = "margin-top : 0">
               <input #j [(ngModel)] = "rePassword" type = "password"required (keydown.enter) = "nextForm(inputsCred, 'inputsCredRegister')">
          </div>
    </ng-container>

    <div> 
      <input type = "submit" value = "Back" (click) = "nextForm(null, 'inputsCredGoingBack')"> 
      <input type = "submit" value = "Register" (click) = "nextForm(inputsCred, 'inputsCredRegister')"> 
    </div>
</ng-template>

<ng-template #userConfirmation>
     <p style = "margin-bottom : 0">Verification Code {{sendCodeAgain ? 'has been resent' : 'sent' }} to </p> 
     <p style = "margin-bottom : 2rem"><b>{{email}}</b></p>
     <p style = "margin-bottom : 0">Verification Code</p>
     <div style = "margin-top : 0">
          <input #k [(ngModel)] = "confirmationCode" type = "password"required  (keydown.enter) = "confirmCode(inputCode)">
     </div>
     <div>
          <input type = "submit" value = "Resend" (click) = "resendCode()"> 
          <input type = "submit" value = "Confirm" (click) = "confirmCode(inputCode)"> 
     </div>  
</ng-template>