<div #user (click) = "selectUser()" class = "conversation rounded d-flex flex-row flex-nowrap" [ngStyle] = "applyUserStyles()">
  
  <div class = "user-pic rounded-circle">
    <img [src] = "pic" height = '62' width = '62' class = "rounded-circle" [style.opacity] = "isSelected ? '1' : '0.65'">
  </div>
      
  <div class = "user-content-wrapper d-inline-flex flex-column flex-nowrap">
      <div style = 'font-size : 1.3rem; padding : 0 0 0 8px;' class = 'user-first-last rounded d-inline-flex flex-row flex-wrap'> 
          <span>{{ firstName }}</span> 
          <span style = 'margin : 0 0 0 0.3rem'>{{ lastName }}</span>
      </div>
      <div style = "padding : 0 0 0 8px;" class = 'user-content-wrapper-2 d-inline-flex flex-row flex-nowrap rounded'>
          <span style = 'font-size : 0.8rem'>{{ username }}</span>
          <span style = 'margin : 0 0 0 1.1rem; font-size : 0.8rem;'>
            <span [style.color] = "isOnline ? '#2E8B57' : '#FF4500'">&#9679;</span> 
            {{ isOnline ? 'online' : 'offline' }}
          </span>
      </div>
  </div>

  <div *ngIf = "isSelected" class = "select-marker"></div>

</div>
 