<div class = "d-inline-flex container flex-column justify-content-center align-items-center">
    <div id = "upload-pic-container" class = " d-flex flex-column align-items-center justify-content-center">
      <h5 style = "margin-bottom : 1.5rem">UPLOAD PROFILE PIC</h5>
      <div id = "pic" class = "rounded-circle">
        <img #img [src] = "hasProfilePic ? profilePic : defaultPic" class = "rounded-circle">
      </div>

      <input #img type = "file" name = "avatar" accept = "image/png, image/jpeg" value = "UPLOAD" (change) = "onFileChange($event.target.files[0])">

      <div id =  "button-wrapper">
          <div class = "button rounded" (click) = "confirmDelete()" [style.width.rem] = "'7'" *ngIf = "showDeleteBtn">
            <a>REMOVE</a>
          </div>

          <div class = "button rounded" (click) = "confirmUpload()" [style.width.rem] = "'7'" *ngIf = "showUploadBtn">
            <a>UPLOAD</a>
          </div>
      </div>
    </div>
</div>
  