<app-top-panel (windowWidth) = 'updateWindowWidth($event)'  (toggle) = 'togglePanel($event)'></app-top-panel>

<div class = "container-fluid d-flex flex-row flex-nowrap justify-content-start">
    <app-side-panel *ngIf = 'showFullPanel === true' 
        (whatToShow) = 'show($event)' 
        [showProfile] = 'showProfile' 
        [showConversations] = 'showConversations' 
        [showUsersInChat] = 'showUsersInChat'
        [showInvites] = 'showInvites'>
    </app-side-panel>

    <app-min-side-panel *ngIf = 'showFullPanel === false' 
        (whatToShow) = 'show($event)' 
        [showProfile] = 'showProfile' 
        [showConversations] = 'showConversations' 
        [showUsersInChat] = 'showUsersInChat'
        [showInvites] = 'showInvites'> 
    </app-min-side-panel>
    
    <app-profile *ngIf = 'showProfile'></app-profile>
    <app-conversation *ngIf = 'showConversations'></app-conversation>
    <app-users-in-chat *ngIf = 'showUsersInChat'></app-users-in-chat>
    <app-invite *ngIf = 'showInvites'></app-invite>

    <!-- <app-chat></app-chat> -->     
</div>

 