<app-top-panel (windowWidth) = 'updateWindowWidth($event)'  (toggle) = 'togglePanel($event)'></app-top-panel>

<div class = "container-fluid d-flex flex-row flex-nowrap justify-content-start">
    <app-side-panel *ngIf = 'showFullPanel === true' (whatToShow) = 'showSection($event)' [showProfile] = 'showProfile' [showConversations] = 'showConversations' [showUsersInChat] = 'showUsersInChat'>
    </app-side-panel>

    <app-min-side-panel *ngIf = 'showFullPanel === false' (whatToShow) = 'showSection($event)' [showProfile] = 'showProfile' [showConversations] = 'showConversations' [showUsersInChat] = 'showUsersInChat'> 
    </app-min-side-panel>
    
    <app-profile *ngIf = 'showProfile'></app-profile>
    <app-conversation *ngIf = 'showConversations'></app-conversation>
    <app-users-in-chat *ngIf = 'showUsersInChat'></app-users-in-chat>
    <!-- <app-chat></app-chat> -->     
</div>

