<div  class = "d-flex flex-nowrap align-items-end container-fluid" (window:resize) = "onResize($event)">
  <div *ngIf = 'showMenuBar' class = "col-sm-2 ">
      <div class = 'menu-bar-wrapper' (click) = 'togglePanel(switchPanel)'>
        <div style = 'margin-top : 0.1875rem; margin-bottom : 0.3125rem' class = 'menu-bar'></div> 
        <div class = 'menu-bar'></div> 
        <div style = 'margin-top : 0.3125rem; margin-bottom : 0.1875rem' class = 'menu-bar'></div> 
      </div>
  </div>
  <div #offset class = "offset-sm-7 col-sm-3 ">
    <p><a class = "rounded" (click) = "openModal('Confirm Exit', 'sign out')">SIGN OUT</a></p>
  </div>
</div>



