<div class = "container">
    <div class = "row d-flex flex-row flex-nowrap">
      <div id = "pic-name-container" class = "d-flex flex-column justify-content-center align-items-start">
          <div id = "pic" class = "rounded-circle "></div>
          <div id = "name">
            <p>Name</p>
          </div> 
      </div>

      <div id = "message-container">
        <p>
          sdfsdfasdf asdfdsfasd
          sdfas fdsfdsfasfsdfa
          sadfasdf asdfdsfasfasd
          asdfsdafs dafdssdfaf sfaf
          sdfasfsdfasfsdfas dfsdafsdafdsf asdfsdfasfs adfsadfsda
          sdfas fsafs dfsdfasdf
          sdfasfs dfasfs dafsdf
          sdfa sfsdfasd fsadfsdf afds
          sdfasfsdfds
        </p>
      </div>
      
    </div>
</div>
