 :host {
    width : 100%;
    height : 100%;
}
.container {
    vertical-align :  top;
    margin : 0 0 0.2rem 0.4%;
    height : 90%;
    width : 99.6%;
    max-width :  100%;
    min-width :  18.875rem;
    padding : 0;
}

.profile-update-wrapper {
    text-align : center;
    height : 20rem;
}

.expansion-panel {
    display : inline-block;
    width : 30rem;
    margin: 1.5px 3px; 
    border : 1px solid black;
    transition: transform 250ms ease-in-out;
}

/* Once the viewport gets this size or less then dynammically apply these styles on these elements  */

@media screen and (max-width : 720px) { 
    .expansion-panel {
        width : 25rem;
    }
}

@media screen and (max-width : 550px) { 
    .expansion-panel {
        width : 20rem;
    }
}

@media screen and (max-width : 23.0625rem) {
    .button-wrapper {
        margin-top : 7rem;
    }
}

.button {
    display : inline-block;
    margin-left : 1.5rem;
    height : 2rem;
    width :  10rem;
    background-color :  white;
    border : 1px solid black;
}

.button:hover {
    background-color :  black;
    border : 1px solid white;
    color : white;
    cursor : pointer;
}

#focus-div:focus {
    outline-width: 0;
}

input {
    font-size : 0.9rem;
}

.mat-form-field {
    width : 230px;
}

.button-wrapper {
    display : inline-block;
    margin-top : 4.5rem;
    height : 3rem;
    width : 20rem;
    text-align : center;
}

