<ng-container [ngSwitch] = "section">
  <ng-container *ngSwitchDefault>
    <ng-container *ngTemplateOutlet = "updateDefault"></ng-container>
  </ng-container>

  <ng-container *ngSwitchCase = "updateProfileSection">
    <button (click) = "goBack()" class = "button rounded" style = "width : 5rem; margin-top : 10px; font-size: 13px" >BACK</button>
    <ng-container *ngTemplateOutlet = "updateProfileForm"></ng-container>
  </ng-container>

  <ng-container *ngSwitchCase = "updatePicSection">
    <button (click) = "goBack()" class = "button rounded" style = "width : 5rem; margin-top : 10px; font-size: 13px" >BACK</button>
    <ng-container *ngTemplateOutlet = "updatePicForm"></ng-container>
  </ng-container>
</ng-container>

<ng-template #updateDefault>
  <app-first-section
    [title] = "'MY PROFILE'"
    [buttonAText] = "'UPDATE INFO'"
    [buttonBText] = "'UPDATE PIC'"
    (clickA) = "toSection(updateProfileSection)"
    (clickB) = "toSection(updatePicSection)">
  </app-first-section>
</ng-template>

<ng-template #updateProfileForm>
  <div class = "d-inline-flex container flex-column align-items-center justify-content-center">
    <h5 style = "margin : 0 0 2rem 0">CHOOSE WHAT TO UPDATE</h5>
    <div id = 'focus-div' class = "profile-update-wrapper">      
      <form [formGroup] = "form.profileForm" (ngSubmit) = "onSubmit()">
        <mat-accordion (click) = "resetBorder()">
        
          <mat-expansion-panel #usernamePanel class = "expansion-panel">

            <mat-expansion-panel-header>
              <mat-panel-title>Username</mat-panel-title>
              <mat-panel-description >{{ showDescription('username') }}</mat-panel-description>
            </mat-expansion-panel-header>

            <mat-form-field>  
              <input
                matInput
                formControlName = "username"
                placeholder = "New Username"
                type = "text">
                <mat-error align = "end">{{ getErrorMessage(usernameControl) }}</mat-error>
            </mat-form-field>

          </mat-expansion-panel>   
    
          <mat-expansion-panel #firstNamePanel class = "expansion-panel">
            <mat-expansion-panel-header>
              <mat-panel-title>First Name</mat-panel-title>
              <mat-panel-description>{{ showDescription('firstName') }}</mat-panel-description>
            </mat-expansion-panel-header>
  
            <mat-form-field>
              <input
                matInput
                formControlName = "firstName"
                placeholder = "New First Name"
                type = "text">
                <mat-error align = "end">{{ getErrorMessage(firstNameControl) }}</mat-error>
            </mat-form-field>
          </mat-expansion-panel> 
    
          <mat-expansion-panel #lastNamePanel class = "expansion-panel">
            <mat-expansion-panel-header>
              <mat-panel-title>Last Name</mat-panel-title>
              <mat-panel-description>{{ showDescription('lastName') }}</mat-panel-description>
            </mat-expansion-panel-header>
  
            <mat-form-field>
              <input
                matInput
                formControlName = "lastName"
                placeholder = "New Last Name"
                type = "text">
                <mat-error align = "end">{{ getErrorMessage(lastNameControl) }}</mat-error>
            </mat-form-field>
          </mat-expansion-panel> 
    
          <mat-expansion-panel #emailPanel class = "expansion-panel">
            <mat-expansion-panel-header>
              <mat-panel-title>Email</mat-panel-title>
              <mat-panel-description>{{ showDescription('email') }}</mat-panel-description>
            </mat-expansion-panel-header>
  
            <mat-form-field>
              <input
                matInput
                formControlName = "email"
                placeholder = "New Email"
                type = "text">
                <mat-error align = "end">{{ getErrorMessage(emailControl) }}</mat-error>
            </mat-form-field>
          </mat-expansion-panel> 
  
        </mat-accordion><br>

        <div class = "button-wrapper">
          <button class = "button rounded"  style = "width : 7rem; margin-left : 0rem;">
            UPDATE
          </button>
        </div>
        
      </form>

    </div> 
  </div> 
</ng-template>


<ng-template #updatePicForm>
  <app-upload-pic (goToUpdateDefault) = "goBack()"></app-upload-pic>
</ng-template>


