:host {
    flex : 1;
    height : 100%
}

.main-wrapper {
    display : inline-block;
    vertical-align : top;
    margin : 0.2rem;
    height : 100%;
    width : 99.5%;
    padding : 15px;
}

.chat-top {
    height : 6%;
    text-align : right;
    padding : 8px 15px;
}

.chat-mid {
    overflow-y : auto;
    height: 84%;
    margin-top: 1rem;
}

.chat-bottom {
    height : 6%;
    margin-top: 1rem;
}

.main-wrapper, .chat-top, .chat-mid, .chat-bottom {
    border : 1px solid black;
}

.send-exit-btn {
    width : 55px;
    height:  25px;
    font-size : 11px;
}

.button {
    display : inline-block;
    background-color : white;
    border : 1px solid black;
}

.button:hover {
    border :  1px solid white;
    background-color : black;
    color : white;
    cursor : pointer;
}

textarea {
    display : inline-block;
    height : 100%;
    width : 90%;
    padding : 8px 15px;
    border : none;
    resize : none;
}

textarea:focus {
    outline : 0;
}
