<div class="container rounded">
    <div id="chat-top" class="col-12 rounded"> <p>Users in Conversation</p></div>
    <div id="chat-mid" class= "col-12 rounded d-flex flex-column justify-content-start">
        <app-current-user-message></app-current-user-message>
        <app-other-user-message></app-other-user-message>
        <app-current-user-message></app-current-user-message>
        <app-other-user-message></app-other-user-message>
    </div>
    <div id="chat-bottom" class= "col-12 rounded"></div>  

</div>
