 :host {
    height : 100%
}

.d-inline-flex {
    vertical-align :  top; /* prevents bug where elemnt is pushed down */
    background-color : #F8F8F8;
    height : 100%;
    width :  19.8rem;
    margin : 0 0 0.2rem 0;
}

#profile {
    height : 15rem;
    background-color : #F8F8F8;
    border-bottom : 1px solid black;	
    margin : 1.5rem;
}

#profile-pic {
    height : 8.5rem;
    width : 8.5rem;
    margin :  0.7rem 0 0 0;
    border :  1px solid black;
}

#profile-name { 
    height : 1.5rem;
    width :  99.5%;   
    margin :  1rem 0 0 0;
    font-size : 1.2rem;
    font-variant-caps : petite-caps;
}

#username {
    margin : 0.5rem 0 0 0;
    font-size : 0.9rem;
    width :  99.5%;  
    height : 1.5rem; 
}

#username > div {
    color : #808080
}

.section-icon {
    height :  2rem;
    margin : 1rem;
}
.section-icon > div {
    width : 100%;
    height : 100%
}

div {
    color : black;
    text-align :  center;
    font-family :  Arial, Helvetica, sans-serif;
    margin : 0;
}

span {
    font-size : 0.9rem;
}

.img-wrapper, .section-icon > div > img {
    margin-right : 0.4rem;
}

.img-wrapper {
    display : inline-block;
    height : 16px;
    width : 16px;
}

.section-icon, #profile-pic {
    background-color :  white;
    text-align :  center;
}

.section-icon > div:hover {
    border :  1px solid black;
    cursor : pointer;
}

#profile-pic > img {
    width : 100%;
    height : 100%;
    margin-right : 0;
}



