<div>
  <h2 mat-dialog-title>{{ data.title }}</h2>
</div>

<mat-selection-list #selectionList (selectionChange) = "onSelectionChange($event)">
  <ng-container *ngFor = "let user of chatUsers">
    <mat-list-option *ngIf = "user.username != currentUsername" [value] = "user.username">{{ user.username }}</mat-list-option>
  </ng-container>
</mat-selection-list>

<div class = "dialog-content">
  <mat-dialog-actions style = "text-align : center;">
    <button mat-button type = "button" (click) = "close()">Cancel</button>
    <button mat-button (click) = "confirm()">Confirm</button>
  </mat-dialog-actions>
</div>