<div class = "invite-wrapper rounded">

    <div class = 'pic-name-wrapper d-flex flex-row flex-nowrap'>
        <div class = "profile-pic rounded-circle"></div>

        <div class = 'name-wrapper'>
          <span>First Name</span><br>
          <span>Last Name</span><br>
          <span style = "font-size : 0.8rem">Username</span><br>
        </div>
    </div>
    
    <div style = "text-align : center; margin-top : 1rem;">
        <span>Invited to join name</span>
    </div>

    <div class = "accept-decline-wrapper">
        <div class = "accept-decline-btn" style = "margin : 0 1rem 0 0 ">Accept</div>
        <div class = "accept-decline-btn" style = "margin : 0 0 0 1rem ">Decline</div>
    </div>
    
  </div>

