.d-flex {
    overflow-y : auto;
    display : inline-block;
    vertical-align :  top;
    height : 100%;
    width : 99.6%;
    min-width : 100%;
}
.invite-section-wrapper {
    height : 100%;
    width : 99.6%;
    min-width : 100%;
    margin : 0rem 0.2rem 0.2rem 0.4%;
}

.invite-wrapper {
  height : 11.75rem;
  width : 20rem;
  margin : 10px;
}

.pic-name-wrapper {
  width : 100%;
  height : 6rem;
  padding : 10px 20px 0 20px 
}

.profile-pic {
  height : 4.8rem;
  width : 4.8rem;
}

.name-wrapper {
  height : 100%;
  width : 12rem;
  margin-left : 20px;
  padding : 5px 0 0 10px;
}

.accept-decline-wrapper {
  text-align : center;
  height : 2rem;
  width : 100%;
  margin-top : 1rem;;
  padding : 0 20px 0 20px;
}

.invite-section-wrapper, .profile-pic, .invite-wrapper, .name-wrapper {
  border : 1px solid black;
}

.accept-decline-btn {
  height : 100%;
  width : 6rem;
  border-bottom : 2px solid black;
}

.accept-decline-btn:hover {
  cursor : pointer;
}

div {
  vertical-align : top;
} 

.name-wrapper, .profile-pic, .accept-decline-btn {
  display : inline-block;
}