<div class = "container" >
  <div class = "row d-flex flex-row align-items-center justify-content-center">
     <div class = "register-wrapper"> 
          <div class = "progess-bar-wrapper">
               <mat-progress-bar *ngIf = "uiService.showProgressBar" [appProgressBarColor] = "'black'" mode = "indeterminate"></mat-progress-bar>
          </div>  

          <div #rootDiv [ngClass] = "getGrayOutCSSClass()">
               <div class = "title-wrapper" [ngClass] = "getGrayOutCSSClass()"> 
                    <h4>Register</h4>  
                    <p *ngIf = "section === passwordInfoSection" style = "margin-top : 1.5rem;">Temporary password has been sent to <b>{{email}}</b></p>
               </div>
     
               <div class = "col-8" class = "content-wrapper flex-center-column" [style.margin-top.rem] = "section === 0 ? '3.5' : '1.5'">
                    
                    <ng-container [ngSwitch] = "section">
                         <ng-container *ngSwitchCase = "userInfoSection">
                              <ng-container *ngTemplateOutlet = "userInfoForm"></ng-container>
                         </ng-container>
          
                         <ng-container *ngSwitchCase = "passwordInfoSection">
                              <ng-container *ngTemplateOutlet = "passwordInfoForm"></ng-container>
                         </ng-container>
                    </ng-container>
                    
               </div>
     
               <div class = "register-footer-wrapper" [style.width.rem] = "'13'">
                    <ng-container *ngTemplateOutlet = "registerFooter"></ng-container>
               </div>
          </div>

     </div>

  </div>
</div>

<ng-template #registerFooter>
     <span>&#8729; <a [routerLink] (click) = "goToLogin()">Login</a></span>
     <span style = "margin-left: 8px">&#8729; <a [routerLink] (click) = "goToForgotPassword()">Forgot Password </a></span>
</ng-template>

<ng-template #userInfoForm>

     <form [formGroup] = "form.profileForm" (ngSubmit) = "onSubmit('profileForm')" class = "flex-center-column"> 
          <mat-form-field>
               <input 
                    matInput 
                    formControlName = "username" 
                    placeholder = "Username" 
                    type = "text">
               <mat-error align = "end">{{ getErrorMessage(usernameControl) }}</mat-error>
          </mat-form-field>

          <mat-form-field>
               <input 
                    matInput 
                    formControlName = "firstName" 
                    placeholder = "First Name" 
                    type = "text">
               <mat-error align = "end">{{ getErrorMessage(firstNameControl) }}</mat-error>
          </mat-form-field>
     
          <mat-form-field>
               <input 
                    matInput 
                    formControlName = "lastName" 
                    placeholder = "Last Name" 
                    type = "text">
               <mat-error align = "end">{{ getErrorMessage(lastNameControl) }}</mat-error>
          </mat-form-field>
     
          <mat-form-field>
               <input 
                    matInput 
                    formControlName = "email" 
                    placeholder = "Email" 
                    type = "email">
               <mat-error align = "end">{{ getErrorMessage(emailControl) }}</mat-error>
          </mat-form-field>

          <div class = "field-wrapper"> 
               <button mat-button>Next</button>
          </div>
     </form>

</ng-template>


<ng-template #passwordInfoForm>

     <form [formGroup] = "form.passwordForm" (ngSubmit) = "onSubmit('passwordForm')" class = "flex-center-column"> 
          <mat-form-field>
               <input 
                    matInput 
                    formControlName = "tempPassword" 
                    placeholder = "Temporary Password" 
                    type = "password">
               <mat-error align = "end">{{ getErrorMessage(tempPasswordControl) }}</mat-error>
          </mat-form-field>

          <mat-form-field>
               <input 
                    matInput 
                    formControlName = "newPassword" 
                    placeholder = "New Password" 
                    type = "password">
               <mat-error align = "end">{{ getErrorMessage(newPasswordControl) }}</mat-error>
          </mat-form-field>
     
          <mat-form-field>
               <input 
                    matInput 
                    formControlName = "rePassword" 
                    placeholder = "Re-enter Password" 
                    type = "password">
                <mat-error align = "end">{{ getErrorMessage(rePasswordControl) }}</mat-error>
          </mat-form-field>
     
          <div class = "field-wrapper"> 
               <button mat-button type = "button" (click) = "restartRegistration()">Restart</button>
               <button mat-button>Register</button>
          </div>
     </form>

</ng-template>