<div class = "container rounded">

  <ng-container *ngFor = "let user of users; index as i">
    <app-chat-user-display
      [index] = "i"
      [userId] = "user.id"
      [username] = "user.username"
      [firstName] = "user.firstName"
      [lastName] = "user.lastName"
      [isOnline] = "user.isOnline"
      [hasProfilePic] = "user.hasProfilePic"
      [base64] = "user.byteArrBase64"
      [mimeType] = "user.mimeType"
      [inChat] = "user.inChat"
      [isHost] = "user.isHost">
    </app-chat-user-display>
  </ng-container>

</div>