 :host {
    height : 100%
}
.container {
    display : inline-block;
    overflow-y : auto;
    vertical-align :  top;
    height : 100%;
    width :  21rem;
    margin : 0.2rem;
    padding : 15px;
    border : 1px solid black;
}