.container {
    min-width :  25em; /* we don't want container getting too small*/
    height : 100vh;
    
}
.row {
    height : 100%;
}

#login-wrapper {
    border : 0.5px solid black;
    height : 40rem;
    width :  60%;
}

#login-wrapper>div {
    margin-top : 1.5em;
    height : 3rem;
    width : 20rem;
    text-align : center;
}

p,a {
    font-size : 0.8rem;
}

input {
    font-size : 0.9rem;
}

input:hover {
    border : 1px solid black;
}



