<div class = "container">
  <div class = "row d-flex flex-row align-items-center justify-content-center">
    <div class = "col-8" id = "login-wrapper" class = "d-flex flex-column justify-content-center align-items-center">   

      <div *ngIf = "justChangedPassword">
        <p [style.color] = "'green'">{{successMssg}}</p>
      </div>

      <div *ngIf = "!validCredentials || emptyFields || !validUser || !validCode || !passwordMatch || weakPassword">
          <p [style.color] = "'red'">{{errMssg}}</p>
      </div>

      <ng-container [ngSwitch] = "section">
          <ng-container *ngSwitchCase = "0">
              <ng-container *ngTemplateOutlet =  "userLogin"></ng-container>
            </ng-container>

            <ng-container *ngSwitchCase = "1">
                <ng-container *ngTemplateOutlet = "userVerifyUsername"></ng-container>
            </ng-container>
      
            <ng-container *ngSwitchCase = "2">
              <ng-container *ngTemplateOutlet = "userRecover"></ng-container>
            </ng-container>
      </ng-container>

    </div> 
  </div>
</div>

<ng-template #userLogin>
    <p style = "margin-bottom : 0">Username or Email</p>
    <div style = "margin-top : 0">
        <input #i type = "text" [(ngModel)] = "usernameOrEmail" (keydown.enter) = "login(inputsCred)"> 
    </div>

    <p style = "margin-bottom : 0">Password</p>
    <div style = "margin-top : 0">
         <input #i type = "password" [(ngModel)] = "password" (keydown.enter) = "login(inputsCred)">
    </div>

    <div> 
      <input type = "submit" value = "Log in" (click) = login(inputsCred)> 
    </div>

    <div>
      <a [routerLink] = "['/register']" >Register</a>
    </div>

    <div style = "margin-top : 0"> 
      <a [routerLink]  = "['/login']" (click) = "section = 1">Forgot Password </a>
    </div>
</ng-template>

<ng-template #userVerifyUsername>
  <p style = "margin-bottom : 0">Username</p>
  <div style = "margin-top : 0">
      <input #j type = "text" [(ngModel)] = "verificationUsername" (keydown.enter) = "nextForm(null, 'inputUsername', inputUsername)"> 
  </div>
  <div>
      <input type = "submit" value = "Confirm" (click) = "nextForm(null, 'inputUsername', inputUsername)"> 
  </div>
  <div><a  [routerLink] = "['/login']" (click) = "section = 0"> Login</a></div>
</ng-template>

<ng-template #userRecover>
  <p style = "margin-bottom : 2rem">Reset Code has been sent to your Primary Email</p>
  <p style = "margin-bottom : 0" > Reset Code</p>
  <div style = "margin-top : 0">
      <input #k type = "password" [(ngModel)] = "verificationCode" (keydown.enter) = "nextForm(inputCodeNPass, 'inputCodeNPass')"> 
  </div>

  <p style = "margin-bottom : 0">New Password</p>
  <div style = "margin-top : 0">
       <input #k [(ngModel)] = "newPassword" type = "password"required (keydown.enter) = "nextForm(inputCodeNPass, 'inputCodeNPass')">
  </div>

  <ng-container *ngIf = "checkPasswordField(newPassword)">
      <p style = "margin-bottom : 0"> Re-enter Password</p>
    <div style = "margin-top : 0">
      <input #k [(ngModel)] = "reNewPassword" type = "password"required (keydown.enter) = "nextForm(inputCodeNPass, 'inputCodeNPass')">
    </div>
  </ng-container> 

  <div> 
    <input type = "submit" value = "Back" (click) = "nextForm(null, 'back')"> 
    <input type = "submit" value = "Confirm" (click) = "nextForm(inputCodeNPass, 'inputCodeNPass')"> 
  </div>
</ng-template>




