<div class = "invite-wrapper rounded">

  <div class = 'pic-name-wrapper d-flex'>
      <div class = "d-inline-flex flex-column flex-nowrap">
          <div class = "profile-pic rounded-circle">
              <img [src] = "pic" height = '76.8' width = '76.8' class = "rounded-circle" [ngStyle] = "uiService.styleBorder(hasProfilePic)">
          </div>
          <span style = 'margin : 6px 0 0 11px; font-size : 0.8rem;'>
              <span [style.color] = "isOnline ? '#2E8B57' : '#FF4500'">&#9679;</span>
              {{ isOnline ? 'online' : 'offline' }}
          </span>
      </div>

      <div class = "name-wrapper">
        <span style = "font-size : 1.1rem">{{ recipientFirstName }}</span><br>
        <span style = "font-size : 1.1rem">{{ recipientLastName }}</span>
        <div style = "font-size : 0.8rem;">{{ recipientUsername }}</div>
        <div class = "time-elapsed" style = "font-size : 0.8rem;">{{ elapsedTime }}</div>
      </div>
  </div>
  
  <div style = "text-align : center; margin-top : 1rem;">
      <span>Invited to join <b>{{ conversationName }}</b></span>
  </div>

  <div class = "cancel-wrapper">
    <div (click) = "cancelInvite()" class = "cancel-btn" style = "margin-right : 1rem ">Cancel</div>
  </div>
  
</div>


